#contact {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1% 10%;
}
body {
  font-family: sans-serif;
}
.contact-details {
  display: flex;
}
.contact-details > div {
  display: flex;
  align-items: center;
}
